@{
    ViewBag.Title = "About";
}

<div class="well well-lg">
    <h3>Github Repository for this project</h3>
    <p>
        <a href="https://github.com/ucdavis/ShibbolethAuthProvider">https://github.com/ucdavis/ShibbolethAuthProvider</a>
    </p>    
</div>
