@{
    ViewBag.Title = "Contact";
}

<div class="well well-lg">
    <h3>Contact</h3>
    <p>
        Please use GitHub issues to report any problems or concerns
        <a href="https://github.com/ucdavis/ShibbolethAuthProvider">https://github.com/ucdavis/ShibbolethAuthProvider</a>
    </p>
</div>
